@font-face {
  font-family: 'Moriston Personal';
  src: url('../font/MoristonPersonal-Bold.eot');
  src: url('../font/MoristonPersonal-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/MoristonPersonal-Bold.woff') format('woff'),
       url('../font/MoristonPersonal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  background: #e8e8e8 !important; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e8e8e8 51%, #e8e8e8 51%, #afafaf 99%) !important;
  background: -webkit-radial-gradient(center, ellipse cover,  #e8e8e8 51%,#e8e8e8 51%,#afafaf 99%) !important;
  background: radial-gradient(ellipse at center,  #e8e8e8 51%,#e8e8e8 51%,#afafaf 99%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#afafaf',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

p {
  font-size: 15px;
}

svg {
  background-color: transparent;
  width: 100%;
  height:650px;
}

input {
  padding-left: 10px;
  border-style: none;
  border-color: #ccc;
  background-color: #eee;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  overflow: auto;
  outline: none;
  font-size: 10px;
}

.standardFont, .navbar-header {
  font-family: 'Helvetica Neue', Helvetica;
  z-index: 0;
}

.primaryKey {
  color: red;
}

.editTableTitle {
  text-align: center;
}

.editButtonContainer {
  width: 4em;
  height: 17em;
  background-color: #292c2f;
 /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  left: 0;
  top: 3em;
  bottom: 0;
  position: absolute;
  z-index: -1;
  display: block;
  padding: 0 .25em;
  z-index: 10;
}

.editButtonContainer a i {
  width: auto !important;
  color: #D287AE;
  font-size: 18px;
}

.modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.minus {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  color: #ee5f5b;
  font-size: 16px;
}

.minus:hover {
  color: #bd362f;
}

/*Editor Styles*/
.output-wrapper {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 100%;
  width: 450px;
  z-index: 1;
}

.editor-wrapper {
  position: relative;
  display: block;
  float: right;
  height: 100%;
  width: 400px;
  z-index: 1;
}

#editor {
  font-family: Courier;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .85;
}

/*d3 Force Layout Styles ===========================*/
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

/*Dendrogram Styles ===========================*/

.dendronode {
  font: 16px sans-serif;
}

.dendrolink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.dendrolinklabel {
  stroke: none;
  fill: black;
  font: 10px sans-serif;
}

/*Tree Layout Styles ===========================*/
.treelabel {
  font: 8px sans-serif;
}

/*
.treenode {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.treenode {
  font: 10px sans-serif;
}

.treelink {
  fill: none;
  stroke: #ff8888;
  stroke-width: 1.5px;
}
*/

#code_button {
  display:block;
  padding-top: .5em;
  float:left;
  font-size: 20px;
  min-height:50px;
  width: 50px;
  color: #C96C9E;
  text-align: center;
  z-index: 1;
}

.close {
  display: none;
}

.dropdown {
  border-radius: 5px;
}

.addField{
  height: 50px;
}

.parallax-background {
  background-color: #292c2f;
  height: 900px;
  background-image: url('../img/Linework2.jpg');
  background-repeat: repeat-x;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  margin-top: -4em;
}

.intro-text {
  font-size: 50px;
  font-family: 'Moriston Personal' !important;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 685px;
  font-size: 16px;
  background-color: #fff;
}

.row {
  max-width: 1400px;
}

/**/
.features {
  text-align: center;
}

.blurb p {
  padding: 0 1em 0 1em;
  font-size: 14px;
}

.features hr {
  width: 25%;
  margin: 1rem auto;
}

.features .round-icon {
  background: #ff0084; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff0084 0%, #a50060 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff0084 0%,#a50060 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff0084 0%,#a50060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#a50060',GradientType=0 ); /* IE6-9 */
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: -61px auto 1rem;
  width: 100px;
  font-size: 3rem;
}

.features .round-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 40em) {
  .features .columns {
    margin-bottom: 5rem;
  }
}

/**/
.getStarted {
  margin-top: 4em;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.getStarted a {
  background-color: #93006c; /* Old browsers */
  width: 150px;
}
.getStarted a:hover {
  background-color: #4B0060;
}

/**/
.team {
  width: 100%;
  text-align: center;
  padding: 4em 0 4em 0;
  background-color: #E8E8E8;
}

.profile {
  text-align: left;
  margin-bottom: 2em;
  height: 100px;
}

.bio {
  font-size: 12px;
  float: left;
}

.bio a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #4B0060;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 175px;
  }
}

.footer-links {
  margin: 0 auto;
  list-style-type: none;
  text-align: left;
  float: left;
  padding-left: 1em;
}

.footer-links li {
  margin-top: 1em;
  padding-top: 1em;
}

.figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid #4B0060 4px;
  overflow: hidden;
  background-color: #4B0060;
  float: left;
  margin-top: -.2em;
  margin-right: .3em;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  height: 5em;
  padding-top: 1em;
  width: 100%;
  text-transform: uppercase;
}

.footer p.copyright {
  color: #8f9296;
  font-size: 0.5em;
  margin: 0;
}

.footer .links a {
  font-size: .8em;
  list-style: none;
  font-weight: 600;
  color: #ffffff;
  padding: 3rem 0 2rem;
  margin: 0;
}

/**/
.github, .screenshots h4, .screenshots a {
  color: #93006c;
  text-transform: uppercase;
  font-weight: 600;
}

.github:hover {
  color: #4B0060;
  text-transform: uppercase;
  font-weight: 600;
}

.profile-card, .login, .tutorial {
  padding: 1rem !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff;
  font-size: 12px;
}

.profile-card img {
  width: 8rem;
  display: block;
  margin: 2rem auto;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #888888;
}

.profile-card .profile-info {
  padding: 1rem;
}

.profile-card .profile-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  color: #4B0060;
  text-align: center;
  text-transform: uppercase;
}

.profile-card .profile-info p {
  text-align: center;
}

.profile-card .profile-info .inline-list {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-card .profile-info .inline-list li {
  float: none;
  display: inline-block;
}

.profile-card .profile-info .inline-list i.fi-social-github {
  font-size: 1.5rem;
  color: #333;
}

.profile-card .profile-info .inline-list i.fi-social-github:hover {
  color: #4B0060;
}

.login {
  margin-top: 5em;
}

.button.expanded:hover {
  background-color: #93006c;
}

.button.splash {
  background-color: #C5E7C6;
  color: #4B0060;
  font-weight: 600;
}

.button.splash:hover {
  background-color: #4B0060;
  color: #C5E7C6;
}

.button.expanded {
  background-color: #D10084; /* Old browsers */
  width: 150px;
}

.button.mongoBtn {
  width: 150px !important;
  background-color: #D10084; /* Old browsers */
}

.button.mongoBtn:hover {
  background-color: #93006c;
}

#mongoEditModal, #sqlEditModal {
  top: 1em !important;
  overflow: auto;
  max-height: 30em !important;
  padding-bottom: 0;
}

.navbar {
  width: 100%;
  height: 3em;
  background-color: #292c2f;
  top: 0;
}

.menu li {
  margin-top:.5em;
  font-weight: 600;
  color: #93006c;
  padding: 0 0 .3em .5em;
  width: auto !important;
}

.menu-options li {
  width: 100% !important;
}

.menu-options ul {
  margin-top:-.25em;
  width: auto !important;
}

#output {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 2;
  top: 0;
}

#output a {
  color: #C96C9E;
}

#output i:hover {
  color: white;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  border-color: #C96C9E transparent transparent !important;
  float: left;
  margin-left: 1em;
}

.dropdown.menu .submenu {
  min-width: 8em !important;
  padding-right: .25em;
}

.code-options {
  height: 3em;
  border-left: solid #C96C9E 1px;
  padding-top:.4em;
  background-color: #292c2f;
  top: 0;
}

.toolTip {
  transition: 0s background-color;
}

.addKey {
  padding-top: 1em;
  color: green;
  font-size: 18px !important;
  text-align: left;
  height: 2em;
  padding-left: .2em;
}

.addKey:hover {
  text-shadow: 0px 0px 9px rgba(54, 255, 26, 1);
  cursor: pointer;
}

.addKey:disabled:hover {
  background-color: transparent !important;
  text-shadow: none;
  cursor: default;
}

.deleteKey, .deleteField {
  top: 0;
  color:red;
  font-size: 18px !important;
  text-align: center;
  position: relative;
  padding-top: 4%;
}

.deleteField {
  padding-top: 2%;
}

.deleteKey:hover, .deleteField:hover {
  text-shadow: 0px 0px 9px rgba(255, 0, 0, 1);
  cursor: pointer;
}

.deleteKey i, .deleteField i {
  margin-top: .5em !important;
}

.cancelKey {
  color:red;
  font-size: 18px !important;
  text-align: left;
  height: 2em;
  padding-left: .2em;
  padding-bottom: 1em;
}

.cancelKey:hover {
  text-shadow: 0px 0px 9px rgba(255, 0, 0, 1);
  cursor: pointer;
}

.keyLabel, .fieldLabel {
  text-transform: uppercase;
  color: #93006c;
  font-weight: 600;
}

.editButtonContainer span, .navbar span {
  min-width: 8em;
  width: auto !important;
  height: auto;
  padding: 5px;
  opacity: 0;
  background: #93006c;
  -webkit-transition-delay: 0; /* Safari */
  transition-delay: 0;
  position: absolute;
  margin-top: -5px;
  margin-left: 10px;
  z-index: 5;
  font-size: 12px;
}

.navbar span {
  margin-top: 20px !important;
  margin-left: -55px !important;
  color: white;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}

.button.nav.tutorial-link {
  margin-top: .2em !important;
}

.menu span {
  min-width:8em;
  width: auto !important;
  height: auto;
  padding: 5px;
  opacity: 0;
  background: #93006c;
  -webkit-transition-delay: 0; /* Safari */
  transition-delay: 0;
  position: absolute;
  margin-top: 2em;
  margin-left: -4.7em;
  z-index: 5;
  color: white;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}

.dataType span {
  min-width:9em;
  width: auto !important;
  height: auto;
  padding: 5px 10px 5px 10px;
  opacity: 0;
  background: #93006c;
  -webkit-transition-delay: 0; /* Safari */
  transition-delay: 0;
  position: absolute;
  margin-top: -4.5em;
  margin-left: -10em;
  z-index: 5;
  color: white;
  text-transform: none;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
 }

.editButtonContainer a:hover span, .menu a:hover span, .dataType a:hover + span, .navbar a:hover span{
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
  opacity: 1;
}

.tool-header, .button.nav{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #C96C9E;
  text-align: center;
}

.button.nav {
  margin-top: .5em;
  background-color: transparent;
  padding-left: 3em;
  float: left;
}

.button.nav:hover {
  color: white;
  background-color: transparent;
}

.toolBtn.button {
  background-color: transparent !important;
  width: 100% !important;
}

.toolBtn.button:hover i {
  color: white !important;
}

.arrow-box {
  position: relative;
  background: #93006c;
}
.arrow-box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(147, 0, 108, 0);
  border-right-color: #93006c;
  border-width: 5px;
  margin-top: -5px;
}

.arrow-box-editor {
  position: relative;
  background: #93006c;
}

.arrow-box-editor:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(147, 0, 108, 0);
  border-bottom-color: #93006c;
  border-width: 5px;
  margin-left: -5px;
}

.arrow-box-editor-modal {
  position: relative;
  background: #93006c;
}

.arrow-box-editor-modal:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(147, 0, 108, 0);
  border-top-color: #93006c;
  border-width: 5px;
  margin-left: -5px;
}

.logo {
  height: 2em;
  width: auto;
  margin-top: .5em;
  margin-right: 5em;
}

.logo-container {
  height: 3em;
  float: left;
  margin-left: 7%;
  width: 9em;
}

.nav-buttons {
  height: 3em;
  width: auto;
  float: left;
  padding-top: 2px;
}

.dropdown-head {
  width: auto;
  margin-right: 0;
  margin-bottom: -.25em;
  text-align: right;
}

a i {
  font-size: 18px;
}

.extended-input {
  width: 35em;
}

button:disabled {
  opacity: .5;
}

button:disabled:hover {
  background-color: #D10084 !important;
  opacity: .5;
}

.addKey button:disabled:hover, .addField button:disabled:hover {
  opacity: .5 !important;
  background-color: #2199e8 !important;
}

select {
  height: auto;
}

select[multiple] {
  background-image: none;
  width: 100%;
  height: 39px !important;
}

select[multiple] option {
  margin-top: .2em;
  margin-bottom: .5em;
  font-size: 14px;
}

input.ng-invalid, select.ng-invalid {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(147,0,108,.8);
  -moz-box-shadow: 0px 0px 1px 1px rgba(147,0,108,.8);
  box-shadow: 0px 0px 1px 1px rgba(147,0,108,.8);
}

button:focus {
  outline: 0;
}

.tutorial {
  height: auto;
  margin: 4em;
  padding: 2em 4em 2em 4em !important;
}

.screenshots {
  margin-top: 3em;
  background-color: #FAFAFA;
  margin-bottom: 0;
  padding: 4em 0 4em 0;
}

.screenshots img {
  display: block;
  height: 225px;
  width: 315px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.screenshots h3 {
  text-align: center;
}

.screenshot-text {
  padding-left: 2em;
  margin-left: 2em;
  border-left: 1px solid #cacaca;
  height: 100%;
  float: left !important;
  font-size: 14px;
}

.small {
  width: 100px !important;
  height: 100px !important;
}

.screenshots h4 {
  padding-left: 0.9375rem;
  font-size: 16px;
}

.screenshots a {
  font-size: 14px;
}

.learn a {
  background-color: none !important;
  color: #C5E7C6;
}
