<nav class="navbar">
  <div style="height:3em; float:left; margin-left:7%; width:9em">
    <img src="styles/assets/dtbs-logo1.png" style="height:2em; width:auto; margin-top:.5em; margin-right:5em">
  </div>
  <div style="height:3em; width:auto; float:left; padding-top:2px">
    <a href="/" class="button nav">Home</a>
    <a href="/logout" class="button nav">Logout</a>
  </div>
</nav>

<div class="super-wrap">
  <div class="editor-wrapper" ng-controller="EditorController">
    <div class="code-opts">
      <ul id="output" class="dropdown menu" data-dropdown-menu>
        <li class="menu">
          <a href="" style="width:7em; margin-right:1em">Output</a>
          <ul>
            <li><a href="" ng-click="updateFactory('Mongoose')">Mongoose </a></li>
            <li><a href="" ng-click="updateFactory('ActiveRecord')">Active Record </a></li>
            <li><a href="" ng-click="updateFactory('Mongo')">Mongo </a></li>
          </ul>
        </li>
        <li>
          <a class="" role="button" id="download"
            target="_self" href="" download="" ng-click="downloadCode()">
            <i class="fi-download" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" role="button" id="download" href="" ng-click="saveSchema()">
            <i class="fi-save" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" role="button" id="reflectChanges" href="" ng-click="rebuildSchema()">
            <i class="fi-refresh" style="font-size:16px"></i>
          </a>
        </li>
      </ul>
    </div>

    <div id="editor">
      <textarea ng-model="editorText">/* Your Output will appear here! */</textarea>
    </div>
  </div>
  <div id="code_button">>></div>
</div>

<div ng-controller='MongoController'>

  <div id='mongoDesignCanvas'>
    <svg id="tree" d3-mongo-tree></svg>
    <svg id="dendro" style="display:none" d3-mongo-dendro></svg>
  </div>

  <div class="editButtonContainer">
    <p class="tool-header">tools</p>
    <a ng-click="toggleEditModal('createMongo')" data-open="mongoEditModal"
      class="button mongoBtn">
      <i class="fi-page" style="font-size:16px"></i><span>Create Schema</span></a>
    <a ng-click="toggleEditModal('editMongo')" data-open="mongoEditModal"
      class="button mongoBtn">
      <i class="fi-pencil" style="font-size:16px"></i><span>Edit Schema</span></a>
    <a id='mytoggler' ng-click="toggleCanvasView()"
      class="button mongoBtn">
      <i class="fi-contrast" style="font-size:16px"></i><span>Toggle View</span></a>
    <a id="savepicture" ng-click="saveSVG(view)"
      class="button mongoBtn">
      <i class="fi-photo" style="font-size:16px"></i><span>Save Image</span></a>
  </div>

  <div class="reveal" id="mongoEditModal" data-reveal>
    <h4>Add/Edit Schema</h4>
    <form role="form" name="schemaEdit">
      <div class="row">
        <div class="create" ng-show="typeEdit === 'createMongo'">
          <label>Schema Name: </label>
            <input type="text" style="width:31em" placeholder="Type name..."
              ng-model="currentSchema.name" required/>
        </div>
      </div>
      <div class="edit" ng-show="typeEdit === 'editMongo'">
        <label>Choose Schema to Edit:</label>
          <select ng-model="oldSchema" ng-change="setSchema(oldSchema)" required>
            <option ng-repeat="schema in schemaStorage">{{schema.name}}</option>
          </select>
      </div>
      <div ng-repeat="(key,val) in allKeys"> <!--currentSchema['keys']"> -->
        <hr>
        <label>Key: {{key}} Type: {{val.display}}</label>
        <button "button expanded mongoBtn" ng-click="deleteKey(key, val)" class="pull-right">Delete Key</button>
        <br>
      </div>
      <hr>
      <div ng-show="addingKey === true" class="row" style="display:inline">

        <label>Add To:</label>
          <select ng-model="nestedLocation" style="width:31em" required>
            <option ng-repeat="(key, val) in nestedDocuments">{{key}}</option>
          </select>

        <div class="medium-5" style="float:left">
          <label>Key Name: </label>
            <input type="text" ng-model="keyName" placeholder="Enter key name" required/>
        </div>
        <div class="medium-6 columns" style="float:left; height:5em">
          <label>Data Type:</label>
            <select ng-model="keyValue" required>
              <option>String</option>
              <option>Number</option>
              <option>Date</option>
              <option>Buffer</option>
              <option>Boolean</option>
              <option>Mixed Object</option>
              <option>Mixed Array</option>
              <option>ObjectID</option>
              <option>Array</option>
            </select>
        </div>
        <div class="addKey medium-1 columns" style="">
          <span ng-click="saveKey(keyName, keyValue, nestedDocument, nestedLocation); keyValue='0'; keyName=''; nestedDocument=undefined; nestedLocation=nestedDocuments['Main']"
            class="fi-check addKey"></span>
        </div>
      </div>
      <br>

      <div ng-show="keyValue === 'Mixed' && (depth[nestedLocation] == undefined || depth[nestedLocation] < 10)">
      <label>Nested document?<label>
        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="nestedDocument"/>
      </div>

      <div ng-show="keyValue === 'Mixed' && depth[nestedLocation] === 10">
        <br>
        <p>Nested documents > 10 deep not supported.</p>
      </div>

    </form>

    <div style="">
      <span class="addKey">
        <button class="button" ng-click="addKey(currentSchema.name)" ng-show="currentSchema.name || showAddKey === true">
          <span class="fi-plus"></span> Add Key</button>
      </span>

      <button type="submit" data-close aria-label="Close reveal" class="button expanded mongoBtn"
        ng-click="editDone(currentSchema.name, oldSchema); oldSchema='0'; keyValue='0'; keyName=''; currentSchema.name='';" style="float:right">Done</button>

      <button type="submit" class="button expanded mongoBtn" class="pull-right"
        ng-click="deleteSchema(currentSchema); oldSchema='0'; keyValue='0'; keyName=''; currentSchema.name=''" style="float:right; margin-right:.5em">Delete Schema</button>
    </div>
  </div>
</div>

<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/sql");
  editor.session.setOptions({
    tabSize: 2,
    useSoftTabs: true
  });
  $(document).foundation();
  var elem = new Foundation.DropdownMenu($('#output'));

  $(document).ready(function() {
    $('#code_button').on('click', function () {
      var state = parseInt($('.super-wrap').css('right'), 10) > -1;
      $('.super-wrap').animate({'right':(state ? -400: 0)}, 'slow');
      $('#code_button').text((state ? '<<': '>>'));
    });
  });

  $('.addKey').on('click', function () {
    var modal = $("#mongoEditModal");
    modal.animate({ scrollTop: modal.prop("scrollHeight") - modal.height() }, 0);
  });
</script>
