<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">dtbs</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <a href="/logout" class="btn">Logout</a>
    </form>
  </div>
</nav>

<!-- <div class="standardFont" ng-include="'/components/designer/designerView.html'"></div> -->
<!-- <div class="standardFont" ng-controller="ModalCtrl" ng-include="'/shared/modal/modalView.html'"></div> -->
<div class="super-wrap">
  <div class="editor-wrapper grey" ng-controller="EditorController">
    <div class="navbar-header">
      <a class="navbar-brand editor-head grey" href="#">code:</a>
    </div>
    <form class="navbar-form navbar-left grey dropdown" role="search">
      <a class="btn btn-default" role="button" id="download"
        target="_self" href="" download="" ng-click="downloadCode()">
        <span class="glyphicon glyphicon-save"></span>
      </a>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Output
        <span class="caret"></span>
      </button>
      <a class="btn btn-default" role="button" id="download" href="" ng-click="saveSchema()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </a>
      <a class="btn btn-default" role="button" id="reflectChanges" href="" ng-click="rebuildSchema()">
        <span class="glyphicon glyphicon-wrench"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="" ng-click="updateFactory('Mongoose')">Mongoose </a></li>
        <li><a href="" ng-click="updateFactory('ActiveRecord')">Active Record </a></li>
        <li><a href="" ng-click="updateFactory('Mongo')">Mongo </a></li>
      </ul>
    </form>
    <div id="editor">
      <textarea ng-model="editorText">/* Your Output will appear here! */</textarea>
    </div>
  </div>
  <div id="code_button">>></div>
</div>

<div ng-controller='MongoController'>

  <div id='mongoDesignCanvas'>
    <svg id="tree" d3-mongo-tree></svg>
    <svg id="dendro" style="display:none" d3-mongo-dendro></svg>
  </div>
  <hr>
  <div class="editButtonContainer">
    <button ng-click="toggleEditModal('createMongo')" class="btn btn-default">Create Schema</button>
    <button ng-click="toggleEditModal('editMongo')" class="btn btn-default">Edit Schema</button>
    <button id='mytoggler' ng-click="toggleCanvasView()" class="btn btn-default">Toggle View</button>
    <button id="savepicture" ng-click="saveSVG()" class="btn btn-default">Save Image</button>
  </div>

  <mongoeditmodal title="Add/Edit Schema" visible="visibleEditModal">
    <form role="form" id="mongoedit">

      <div class="create" ng-show="typeEdit === 'createMongo'">
        <label>Schema Name: </label>
          <input id="newName" type="text" placeholder="Type name..." ng-model="currentSchema.name" required/>
      </div>

      <div class="edit" ng-show="typeEdit === 'editMongo'">
        <label>Choose Schema to Edit:</label>
          <select id="editing" ng-model="oldSchema" ng-change="setSchema(oldSchema)" required>
            <option value="none"></option>
            <option ng-repeat="schema in schemaStorage">{{schema.name}}</option>
          </select>
      </div>

      <div>
        <div ng-repeat="(key, val) in currentSchema['keys']">
          <hr>
          <label>Key: {{key}}   Type: {{val.type}}</label>
          <button "btn btn-default" ng-click="deleteKey(key, currentSchema)" class="pull-right">Delete Key</button>
          <br>
        </div>
      </div>
      
      <div class="addKey" ng-show="currentSchema.name || showAddKey === true">
        <hr>
        <button class="btn btn-success" ng-click="addKey(currentSchema.name)">
          <span class="glyphicon glyphicon-plus-sign"></span> Add Key
        </button>
      </div>
      <hr>
      <br>

      <div ng-show="addingKey === true">
        <label>Key Name:</label>
          <input id="name" ng-model="keyName" placeholder="Enter key name" required/>

        <label>Data Type:</label>
          <select id="type" ng-model="keyValue" required>
            <option>String</option>
            <option>Number</option>
            <option>Date</option>
            <option>Buffer</option>
            <option>Boolean</option>
            <option>Mixed Object</option>
            <option>Mixed Array</option>
            <option>ObjectID</option>
            <option>Array</option>
          </select>
        <button "btn btn-default" ng-click="saveKey(keyName, keyValue)" class="pull-right">Save Key</button>
      </div>
      <br>  

      </form>
    <button type="submit" class="btn btn-default" ng-click="editDone()">Done</button>
    <button type="submit" class="btn btn-default" class="pull-right" ng-click="deleteSchema(currentSchema)">Delete Schema</button>
  </mongoeditmodal>

</div>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/sql");
  editor.session.setOptions({
    tabSize: 2,
    useSoftTabs: true
  });
</script>
