body {
  height: 100%;
  width: 100%;
}

p {
  font-size: 15px;
}

svg {
  background-color: #fff;
  width:100%;
  height:450px
}

input {
  padding-left: 10px;
  border-style: none;
  border-color: #ccc;
  background-color: #eee;
  border-radius:5px;
  width: 100px;
  height: 30px;
  overflow: auto;
  outline: none;
  font-size: 10px;
}

.standardFont, .navbar-header {
  font-family: 'Helvetica Neue', Helvetica;
  z-index: 0;
}

.primaryKey {
  color: red;
}

.editTableTitle {
  text-align: center;
}

.editButtonContainer {
  display: inline-block;
}

.modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.minus {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  color: #ee5f5b;
  font-size: 16px;
}

.minus:hover {
  color: #bd362f;
}

/*Editor Styles*/
.super-wrap {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
}

.editor-wrapper {
  position: relative;
  display: block;
  float: right;
  height: 100%;
  width: 350px;
  opacity: .85;
}

.editor-head {
  border-left: 1px solid #777777;
}

.grey {
  background-color: #d6d6d6;
  color: #000;
}
#editor {
  font-family: Courier;
  width: 100%;
  height: 100%;
}

.border {
  border: solid #ccc 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

/*d3 Force Layout Styles ===========================*/
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

/*Dendrogram Styles ===========================*/
/*.dendronode circle {
  fill: teal;
  stroke: steelblue;
  stroke-width: 1.5px;
}*/

.dendronode {
  font: 16px sans-serif;
}

.dendrolink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.dendrolinklabel {
  stroke: none;
  fill: black;
  font: 10px sans-serif;
}

/*Tree Layout Styles ===========================*/
.treelabel {
  font: 8px sans-serif;
}
/*.treenode {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.treenode {
    font: 10px sans-serif;
}
.treelink {
    fill: none;
    stroke: #ff8888;
    stroke-width: 1.5px;
}*/

#code_button {
  display:block;
  padding-top: 10px;
  float:left;
  font-size: 20px;
  min-height:50px;
  width: 50px;
  color: #777777;
  text-align: center;
  z-index: 1;
}

.close {
  display: none;
}

.dropdown {
  border-radius: 5px;
}

.addField{
  height: 50px;
}

.pass2, #valSignup {
  display: none;
}

.select-dropdown {
  width:20px;
}

.caret {
  font-size: 10px;
}
