
p {
  font-size: 15px;
}

svg {
  background-color: #C1F3F4;
}
input {
  border-style: none;
  border-color: #ccc;
  background-color: #eee;
  width: 100px;
  height: 30px;
  overflow: auto;
  outline: none;
  font-size: 10px;
}

.standardFont, .navbar-header {
  font-family: 'Helvetica Neue', Helvetica;
}

.editor-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  /*height: 500px;*/
  width: 350px;
  opacity: .85;
}

.editor-head {
  border-left: 2px solid black;
}

#editor { 
  font-family: Courier;
  width: 100%;
  height: 100%;
}