
* {
  font-family: 'Helvetica Neue', Helvetica;
}

p {
  font-size: 15px;
}

svg {
  background-color: #C1F3F4;
}
input {
  border-style: none;
  border-color: #ccc;
  background-color: #eee;
  width: 100px;
  height: 30px;
  overflow: auto;
  outline: none;
  font-size: 10px;
}
