<div class="parallax-background">
  <div class="intro-text">
    d  t  b  s
  </div>
  <p style="font-size:18px; text-align:center; color: white">database design and visualization</p>
  <br>
  <div class="row getStarted">
    <p><a href="#/login" class="button splash">Get Started</a>
    <a href="#/setup" class="button splash">Try</a>
<!--     <br><a href="#learn"><i class="fi-info learn"></i></a></p> -->
  </div>
</div>

<!-- Footer -->
<div class="parallax-content">
  <div class="row features">
    <div class="medium-4 columns blurb">
      <div class="round-icon">
        <span class="fi-laptop"></span>
      </div>
      <h3>Striking</h3>
      <hr>
      <p>Arrange schemas in a visually striking D3 powered format, or utilize a more traditional view for cogent data organization. DTBS facilitates an engaging, interactive experience during the potentially tedious schema-building process</p>
    </div>
    <div class="medium-4 columns blurb">
      <div class="round-icon">
        <span class="fi-clipboard-pencil"></span>
      </div>
      <h3>Productive</h3>
      <hr>
      <p>DTBS supports both relational and non-relational databases, allowing users to design and save
          schemas for virtually any data set. Build a schema in either SQL or Mongo, and toggle between various ORMs for intuitive schema building</p>
    </div>
    <div class="medium-4 columns blurb">
      <div class="round-icon">
        <span class="fi-lightbulb"></span>
      </div>
      <h3>Intuitive</h3>
      <hr>
      <p>Clean and simple interface makes creating layouts easy. Auto-generate a code base by starting with schema visualization, or edit and submit code to build the visuals instantly. Download the code and a PNG of the layout</p>
    </div>
  </div>

  <div class="screenshots" id="learn" >
    <h3>How it Works</h3>
    <br><br>
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <div class="row">
          <h4>SQL</h4>
          <div class="row">
            <div class="medium-5 columns">
              <img src="./assets/img/SQLGif2.gif">
            </div>
            <div class="medium-2 columns">
              <img class="small" src="./assets/img/sql2.png"><br>
              <img class="small" src="./assets/img/sql1.png">
            </div>
            <div class="medium-4 columns screenshot-text">
              <p>Build a relational table-based layout using the SQL view of the application. Start with a single table and its required primary key value, then continue to build complex relationships with other tables using the foreign key feature. DTBS supports various data types for field creation, making complicated data simple to visualize</p>
            </div>
          </div>

          <div class="row" style="margin-top:5em">
            <h4>Mongo</h4>
            <div class="medium-5 columns">
              <img src="./assets/img/MongoGIF.gif">
            </div>
            <div class="medium-2 columns">
              <img class="small" src="./assets/img/mongo1.png"><br>
              <img class="small" src="./assets/img/mongo2.png">
            </div>
            <div class="medium-4 columns screenshot-text">
              <p>When building a Mongo schema, create at least one key-value pair. In addition to simple data types, DTBS enables the use of nested schema documents, up to ten levels deep. View the data in a dynamic tree-like structure, or toggle views to see a static dendrogram representation. View generated database code in either raw Mongo or parsed Mongoose </p>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <div class="row" style="text-align:center">
        <div class="medium-6 medium-centered columns">
          <span>Learn more about schema creation
            <a href="#/tutorial">here</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="team">
    <h3>The Team</h3>
    <br>
    <div class="row">
      <div class="medium-3 columns">
        <div class="profile-card">
          <img src="https://avatars0.githubusercontent.com/u/9599470?v=3&s=460" alt="Jessica O'Brien">
          <div class="profile-info">
            <h4 class="subheader">Jessica O'Brien</h4>
            <p>Originally from Australia, Jess made the move to California to jump into the tech scene, working with like-minded people to build applications that solve real world problems. She is a full-stack software engineer.</p>
            <ul class="inline-list">
              <li><a href="https://github.com/jeobrien"><i class="fi-social-github"></i></a></li>
          </div>
        </div>
      </div>
      <div class="medium-3 columns">
        <div class="profile-card">
          <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1479069_10200649311149141_752861487_n.jpg?oh=16b19c51a4c9339c38bb747e57300f37&oe=56D62720" alt="Cheyenne Kellis">
          <div class="profile-info">
            <h4 class="subheader">Cheyenne Kellis</h4>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of truth</p>
            <ul class="inline-list">
              <li><a href="https://github.com/ckellis"><i class="fi-social-github"></i></a></li>
          </div>
        </div>
      </div>
      <div class="medium-3 columns">
        <div class="profile-card">
          <img src="https://avatars3.githubusercontent.com/u/11013103?v=3&s=460" alt="Joy Johnson">
          <div class="profile-info">
            <h4 class="subheader">Joy Johnson</h4>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of truth</p>
            <ul class="inline-list">
              <li><a href="https://github.com/iwasjoy"><i class="fi-social-github"></i></a></li>
          </div>
        </div>
      </div>
      <div class="medium-3 columns">
        <div class="profile-card">
          <img src="https://avatars2.githubusercontent.com/u/13108981?v=3&s=460" alt="Alex McLean">
          <div class="profile-info">
            <h4 class="subheader">Alex McLean</h4>
            <p>A full-stack engineer and web developer who loves to build exciting things with interesting people.  Originally from Seattle, WA, he is a Bay Area transplant looking for the next awesome project to conquer.</p>
            <ul class="inline-list">
              <li><a href="https://github.com/alexmclean"><i class="fi-social-github"></i></a></li>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="row">
      <div class="small-12 columns">
        <p class="links">
          <a href="#">DTBS on GitHub</a>
        </p>
        <p class="copyright">Copyright Mirthful Chuksha © 2015</p>
      </div>
    </div>
  </footer>
</div>

<!--
// $(document).ready(function() {
// });
//   $('.learn').click(function(){
//       $('html, body').animate({
//           scrollTop: $( $(this).attr('href') ).offset().top
//       }, 800);
//       return false;
//   }); -->
