<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">dtbs</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <button ng-click="toggleModal()" class="btn btn-default">Get Started</button>
    </form>

    <modal title="Page Setup" visible="showModal" >
      <form role="form" ng-submit="updateFactory()">
        <div class="form-group">
	  <label for="title">Title</label>
	  <input type="title" class="form-control" id="title" ng-model="db.name"
	  placeholder="Database title goes here">
	</div>
        <div class="form-group">
          <label for="type">Database Type</label>
          <div class="dropdown">
	    <select ng-model='db.lang' class="form-control">
	      <option value="mySQL">mySQL</option>
	      <option value="Bookshelf">mySQL - Bookshelf</option>
	      <option value="Sequelize">mySQL - Sequelize</option>
	      <option value="Mongo">Mongo</option>
	      <option value="Mongoose">Mongo - Mongoose</option>
	    </select>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    <script>
    $(function(){
      $(".dropdown-menu li a").click(function(){
        $(".btn-info:first-child").text($(this).text());
        $(".btn-info:first-child").val($(this).text());
     });
    });
    </script>
    </modal>
  </div>
</nav>
