<div ng-controller='FormController'>

  <div ng-controller="TableController" class="container">
    <hr>
    <div class="editButtonContainer">
      <button ng-click="toggleMyModal()" class="btn btn-default">Create Table</button>
      <button ng-click="toggleEditModal()" class="btn btn-default">Edit Table</button>
    </div>

    <tablemodal title="Table Create Form" visible="seeModal">
      <form role="form" ng-submit="save(table.name)" name="table_{{table.id}}_form">
        <div class="form-group">
          <label for="email">Table Name</label>
          <input class="form-control" ng-model="table.name" placeholder="Enter table name" required/>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
    </tablemodal>
  </div>
  <br>

  <div ng-controller="EditController">

    <editmodal title="Edit Table" visible="editModal">
      <form role="form" ng-submit="editTable(currentTable)" name="tableEdit">
        <div class="form-group">
          <label>Choose Table to Edit:</label>
            <select ng-model="currentTable" required>
              <option ng-repeat="currentTable in tableStorage">{{currentTable.name}}</option>
            </select>
            <br>
        <button type="submit" class="btn btn-default">Edit</button>

        <!-- <button ng-click="editTable(currentTable)">Info</button>  -->
        </div>
      </form>
      <button type="submit" class="btn btn-default" class="pull-right" ng-click="deleteTable(currentTable)">Delete Table</button>
    </editmodal>

    <editkeysmodal title="Edit Fields" visible="editKeysModal">
      <div ng-repeat="savedKey in keyEdit">
        <label>Column ID: {{savedKey.id}}</label>
        <button "btn btn-default" ng-click="deleteField(savedKey.id, currentTable)" class="pull-right">Delete Field</button>
        <hr>
        <!--
          <input ng-model="savedKey.id"/>
        <label>Type</label>
          <select ng-model="savedKey.type">
            <option ng-repeat="option in options[savedKey.basicType]">{{option.name}}</option>
          </select>
       <!--   <input ng-model="savedKey.type"/> -->
        <!--<label>Size</label>
          <input ng-model="savedKey.size"/>
        <label>Attributes</label>
          <input ng-model="savedKey.attributes">
        <label>Null?</label>
          <input ng-model="savedKey.default">
      </div>-->
    </div>
      <button class="btn btn-default" ng-click="editDone()">Done</button>
    </editkeysmodal>


  </div>

  <keymodal title="" id="tableTitle" visible="seeKeyModal">

    <div ng-controller="OutputController">

      <form name="tableForm">
        <div ng-repeat="key in keys track by $index" style="height:130px;">
          <label>Column ID</label>
            <input ng-model="keys[$index].id" type="text" placeholder="Column ID..." required/>

          <label>  Basic Type</label>
            <select ng-model="keys[$index].basicType" required>
              <option>Numeric</option>
              <option>String</option>
              <option>DateTime</option>
              <option>Bit</option>
            </select>

          <label ng-if="keys[$index].basicType">  Type</label>
            <select ng-model="keys[$index].type" ng-if="keys[$index].basicType" required>
              <option ng-repeat="option in options[keys[$index].basicType]">{{option.name}}</option>
            </select>
            <br><br>

          <label ng-if="keys[$index].basicType">Size</label>
            <input ng-if="keys[$index].basicType" ng-model="keys[$index].size" placeholder="Enter size...">

          <label ng-if="attributes[keys[$index].type]">Attributes</label>
            <select class="dropdown" ng-if="attributes[keys[$index].type]" ng-model="keys[$index].attributes" multiple>
              <option ng-repeat="option in attributes[keys[$index].type]">{{option.attr}}</option>
            </select>

          <label ng-if="keys[$index].type"> Not Null?</label>
            <input type="checkbox" ng-if="keys[$index].type" ng-true-value="'NOT NULL'" ng-false-value="'NULL'" ng-model="keys[$index].default"/>
            <button style="float:right; position: absolute; top:45px; right:10px" class="minus" ng-click="cancelAdd($index)"><span class="glyphicon glyphicon-minus-sign"></span></button>

        </div>

        <div class="addField">
          <hr>
          <button class="btn btn-success" ng-click="addField()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Field
          </button>
        </div>


        <div class="addForeign" ng-if="primaryKeyPresent !== undefined">
          <hr>
          <button class="btn btn-success" ng-click="addForeignKey()">
              <span class="glyphicon glyphicon-plus-sign"></span> Add Foreign Key
          </button>
          <div ng-repeat="fkey in foreignKeys track by $index">
            <label>Select which table to connect:</label>
            <select ng-model="foreignKeys[$index].origin" style="width:100px">
              <option ng-repeat="table in tableStorage" ng-if="table.id !== selectedTable">{{table.name}}</option>
            </select>
          </div>
        </div>

        <div>
          <hr>
          <label>Choose the table's primary key (required)</label>
          <select ng-model="primaryKey" style="width:100px" required>
            <option ng-repeat="possibleKey in tableStorage[selectedTable].attrs.concat(keys) track by $index">{{possibleKey.id}}</option>
          </select>
        </div>
        <br>

        <button class="btn btn-default" ng-click="tableForm.$valid && addTableAttrChildScope(keys, foreignKeys, tableStorage[selectedTable], primaryKey)">Done</button>
        <button class="btn btn-default" ng-click="deleteKeys(tableStorage[selectedTable])" class="pull-right">Delete Table</button>

      </form>
    </div>
  </keymodal>

</div>
