<div ng-controller='FormController'>

    <div ng-controller="TableController" class="container">
      <div class="editButtonContainer">
        <h3>Make a Table</h3>
        <button ng-click="toggleMyModal()" class="btn btn-default">Create</button>
        <h3>Edit a Table</h3>
        <button ng-click="toggleKeyModal()" class="btn btn-default">Edit Selected</button>
      </div>
        
      <tablemodal title="Table Create Form" visible="seeModal">
        <form role="form" ng-submit="save(table.name)" name="table_{{table.id}}_form">
          <div class="form-group">
            <label for="email">Table Name</label>
            <input class="form-control" ng-model="table.name" placeholder="Enter table name" />
          </div>
          <button type="submit" class="btn btn-default">Go</button>
        </form>
      </tablemodal>
    </div>
    <br>
    <keymodal title="Add/Edit Fields" visible="seeKeyModal">
      <div ng-controller="OutputController">
        <div ng-repeat="existingKey in tableStorage[selectedTable].attrs">
          <input ng-model="existingKey.id" ng-class="{primaryKey: existingKey.id === tableStorage[selectedTable].primaryKey}">
        </div>
        <form>
          <button ng-click="addField()"> Add Field </button></br>
          <button ng-click="addForeignKey()">Add Foreign Key</button>
          <div ng-repeat="key in keys track by $index" class="border">
          
            <label>Column ID</label>
              <input ng-model="keys[$index].id" type="text" placeholder="Column id here..." required/>

            <label>Basic Type</label>
              <select ng-model="keys[$index].basicType"> 
                <option>Numeric</option>
                <option>String</option>
                <option>DateTime</option>
                <option>Bit</option>
              </select>

            <label ng-if="keys[$index].basicType">Type</label>
              <select ng-model="keys[$index].type" ng-if="keys[$index].basicType">
                <option ng-repeat="option in options[keys[$index].basicType]">{{option.name}}</option>
              </select>

            <label ng-if="keys[$index].basicType">Size</label>
              <input ng-if="keys[$index].basicType" ng-model="keys[$index].size" placeholder="Enter size...">

            <label ng-if="attributes[keys[$index].type]">Attributes</label>
              <select ng-if="attributes[keys[$index].type]" ng-model="keys[$index].attributes" multiple>
                <option ng-repeat="option in attributes[keys[$index].type]">{{option.attr}}</option>
              </select>

            <label ng-if="keys[$index].type">Default</label>
              <select ng-if="keys[$index].type" ng-model="keys[$index].default">
                <option>NULL</option>
                <option>NOT NULL</option>
              </select>

              <button ng-click="cancelAdd($index)">Delete Field</button>

          </div>

          <div ng-repeat="fkey in foreignKeys track by $index" class="border">
            <h4>Select which table to connect:</h4>
            <select ng-model="foreignKeys[$index].origin">
              <option ng-repeat="table in tableStorage" ng-if="table.id !== selectedTable">{{table.id}}</option>
            </select>
          </div>

          <div>
            <h4>Choose the table's primary key</h4>
            <select ng-model="primaryKey">
              <option ng-repeat="possibleKey in tableStorage[selectedTable].attrs.concat(keys) track by $index">{{possibleKey.id}}</option>
            </select>
          </div>

          <button ng-click="addTableAttrChildScope(keys, foreignKeys, tableStorage[selectedTable], primaryKey)">Done</button>
          <button ng-click="deleteTable(tableStorage[selectedTable])" class="pull-right">Delete Table</button>
        </form>
      </div>
    </keymodal>
  </div>