<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form>
      <div class="row column log-in-form">
        <h4 class="text-center">Setup Database</h4>
        <label>Title
          <input id="dbName" type="text" ng-model="db.name" placeholder="My DB" required>
        </label>
        <label>Language
          <select ng-model='db.lang' class="form-control" required>
            <option value="SQL">SQL</option>
            <option value="Mongo">Mongo</option>
          </select>
        </label>
        <br>
        <p><a type="submit" ng-click="setup()" class="button expanded">Create</a></p>
        <p><a ng-if="loggedIn" ng-click="showList = !showList; fetchDBs()" class="button expanded">
          Load Saved DB</a></p>
          <select ng-if="showList" ng-model='db.name' class="form-control" required>
            <option ng-repeat="db in user.dbList">{{db.name}}</option>
          </select>
        <span ng-show="dbExist">You already have a database with this name!</span>
      </div>
    </form>
  </div>
</div>
