<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form>
      <div class="row column log-in-form login">
        <h4 class="text-center">Setup Database</h4>
        <label>Title
          <input id="dbName" type="text" ng-model="db.name" placeholder="My DB" required>
        </label>
        <label>Language
          <select ng-model='db.lang' class="form-control" required>
            <option value="SQL">SQL</option>
            <option value="Mongo">Mongo</option>
          </select>
        </label>
        <br>
        <p><a type="submit" ng-click="setup()" class="button expanded">Create</a></p>
        <p><a ng-if="loggedIn" ng-click="showList = !showList; fetchDBs()" class="button expanded">
          Load Saved DB</a></p>
          <select ng-if="showList" ng-model='db.name' class="form-control" required>
            <option ng-repeat="db in user.dbList">{{db.name}}</option>
          </select>
        <span ng-show="dbExist">You already have a database with this name!</span>
        <div ng-show="savedSchemas.length > 0">
          <h4 class="text-center">Existing Schema</h4>
          <label>Saved
            <select ng-model="dbpicker" class="form-control" required>
              <option ng-repeat="schema in savedSchemas track by $index">{{savedSchemas[$index].name}}</option>
            </select>
          </label>
          <p><a type="submit" ng-click="loadSchema()" class="button expanded">Load</a></p>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="footer" style="bottom: 0; position: fixed; height:3em; padding-top:1em">
  <div class="row">
    <div class="small-12 columns">
      <p class="copyright">Copyright Mirthful Chuksha © 2015</p>
    </div>
  </div>
</footer>
