<nav class="navbar">
  <div style="height:3em; float:left; margin-left:7%; width:9em">
    <img src="styles/assets/dtbs-logo1.png" style="height:2em; width:auto; margin-top:.5em; margin-right:5em">
  </div>
  <div style="height:3em; width:auto; float:left; padding-top:2px">
    <a href="/" class="button nav">Home</a>
    <a href="/logout" class="button nav">Logout</a>
  </div>
</nav>

<div class="super-wrap">
  <div class="editor-wrapper" ng-controller="EditorController">
    <div class="code-opts">
      <ul id="output" class="dropdown menu" data-dropdown-menu>
        <li class="menu">
          <a href="" style="width:7em; margin-right:1em; font-weight:600">Output</a>
          <ul>
            <li><a href="" ng-click="updateFactory('Sequelize')">Sequelize </a></li>
            <li><a href="" ng-click="updateFactory('Bookshelf')">Bookshelf </a></li>
            <li><a href="" ng-click="updateFactory('SQL')">SQL </a></li>
          </ul>
        </li>
        <li class="menu" ng-show="savedSchemas.length > 0">
          <a href="" style="width:7em; margin-right:1em; font-weight:600">Load</a>
          <ul>
            <li><a href="" ng-repeat="schema in savedSchemas track by $index" ng-click="loadNewSchema($index)">{{savedSchemas[$index].name}} </a></li>
          </ul>
        </li>
        <li>
          <a class="" role="button" id="download"
            target="_self" href="" download="" ng-click="downloadCode()">
            <i class="fi-download" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" role="button" id="save" href="" ng-click="saveSchema()">
            <i class="fi-save" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" role="button" id="reflectChanges" href="" ng-click="rebuildSchema()">
            <i class="fi-refresh" style="font-size:16px"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="editor">
      <textarea ng-model="editorText">/* Your Output will appear here! */</textarea>
    </div>
  </div>
  <div id="code_button">>></div>
</div>

<div ng-controller='sqlController'>
  <div id='designCanvas'>
    <svg id="designer" d3-sql></svg>
    <svg id="svgout" style="display:none" xmlns="http://www.w3.org/2000/svg" snap-sql></svg>
  </div>

  <div class="editButtonContainer">
    <p class="tool-header">tools</p>
    <a ng-click="toggleEditModal('createSQL')" data-open="sqlEditModal"
      class="button expanded mongoBtn">
      <i class="fi-page" style="font-size:16px"></i></a>
    <a ng-click="toggleEditModal('editSQL')" data-open="sqlEditModal"
      class="button expanded mongoBtn">
      <i class="fi-pencil" style="font-size:16px"></i></a>
    <a id='mytoggler' ng-click="toggleCanvasView()"
      class="button expanded mongoBtn">
      <i class="fi-contrast" style="font-size:16px"></i></a>
    <a id="savepicture" ng-click="saveSVG(view)"
      class="button expanded mongoBtn">
      <i class="fi-photo" style="font-size:16px"></i></a>
  </div>

  <div class="reveal" id="sqlEditModal" data-reveal>
    <h4>Add/Edit Table</h4>
    <form role="form" name="sqlEdit">
      <div class="row">
        <div class="create" ng-show="typeEdit === 'createSQL'">
          <label>Table Name: </label>
            <input class="sqlInput" type="text" style="width:31em" placeholder="Type name..."
              ng-model="currentTable.name" required/>
        </div>
      </div>
      <div class="edit" ng-show="typeEdit === 'editSQL'">
        <label>Choose Table to Edit:</label>
          <select ng-model="oldTable" ng-change="setTable(oldTable)" required>
            <option ng-repeat="table in tableStorage">{{table.name}}</option>
          </select>
      </div>

      <div ng-if="primaryKeyPresent === true" class="row" style="display:inline">
        <hr>
        <label>Primary Key ID: {{currentTable['primaryKey']['id']}} Type: {{currentTable['primaryKey']['type']}}</label>
        <button "button expanded mongoBtn" ng-click="deletePrimaryKey()" class="pull-right">Delete Primary Key</button>
        <br>
      </div>
      <div>
        <div ng-repeat="(key, val) in currentTable.regFields">
          <hr>
          <label>Field: {{key}} Type: {{val.type}}</label>
          <button ng-click="deleteField(key)" class="pull-right">Delete Field</button>
          <br>
        </div>
      </div>

      <div>
        <div ng-repeat="(key, val) in currentTable.foreignKeys">
          <hr>
          <label>Foreign Key linked to {{val['id']}} table</label>
          <button ng-click="deleteFK(key)" class="pull-right">Delete Foreign Key</button>
          <br>
        </div>
      </div>

      <div ng-show="primaryKeyPresent !== true && currentTable.name" ng-model="currentStorage.primaryKey">
        <hr>
        <label>Create a Primary Key (required) </label>
      </div>

      <span class="addField">
        <button class="button" ng-click="addField(currentTable.name)" ng-show="primaryKeyPresent === true">
          <span class="fi-plus"></span> Add Field</button>
      </span>
      <br>

      <div ng-show="addingField === true || (primaryKeyPresent !== true && currentTable.name)">
        <label>Column ID: </label>
          <input class="sqlInput" ng-model="currentField.fieldID" type="text" placeholder="Enter Column ID..." required/>
        <label>Basic Type:</label>
          <select ng-model="currentField.basicType" required>
            <option>Numeric</option>
            <option>String</option>
            <option>DateTime</option>
            <option>Bit</option>
          </select>
        <label ng-if="currentField.basicType">Type:</label>
          <select ng-model="currentField.type" required>
            <option ng-repeat="option in options[currentField.basicType]">{{option.name}}</option>
          </select>
          <br>
        <label ng-if="currentField.type">Size</label>
          <input class="sqlInput" ng-if="currentField.type" ng-model="currentField.size" placeholder="Enter size..." required/>
        <label ng-if="attributes[currentField.type]">Attributes</label>
          <select class="dropdown" ng-if="attributes[currentField.type]" class="dropdown" ng-model="currentField.attributes" multiple>
            <option ng-repeat="option in attributes[currentField.type]">{{option.attr}}</option>
          </select>
        <label ng-if="currentField.type">Not Null?</label>
          <input class="sqlInput" ng-if="currentField.type" type="checkbox" ng-true-value="'NOT NULL'" ng-false-value="'NULL'" ng-model="currentField.default"/>
      <br>
        <button "btn btn-default" ng-if="primaryKeyPresent !== true" ng-click="savePrimaryKey(currentField.fieldID, currentField.basicType, currentField.type, currentField.size, currentField.attributes, currentField.default, currentTable.name); currentField.fieldID=''; currentField.basicType='0'; currentField.type=''; currentField.size=''; currentField.attributes=undefined; currentField.default=undefined" class="pull-right">Save Primary Key</button>

        <button "btn btn-default" ng-if="primaryKeyPresent === true" ng-click="saveField(currentField.fieldID, currentField.basicType, currentField.type, currentField.size, currentField.attributes, currentField.default); currentField.fieldID=''; currentField.basicType='0'; currentField.type=''; currentField.size=''; currentField.attributes=undefined; currentField.default=undefined" class="pull-right">Save Field</button>
      </div>
      <br>
      <div class="addForeign" ng-if="primaryKeyPresent !== false">
        <hr>
        <button class="button" ng-click="addForeignKey()">
          <span class="glyphicon glyphicon-plus-sign"></span> Add Foreign Key
        </button>
        <br>

        <label ng-if="seeForeignKeys === true">Column ID: </label>
          <input ng-if="seeForeignKeys === true" class="sqlInput" ng-model="currentField.fieldID" type="text" placeholder="Enter Column ID..." required/>


        <div> <!--ng-repeat="fkey in foreignKeys track by $index"> -->
          <label ng-if="seeForeignKeys === true">Select which table to connect:</label>
          <select ng-if="seeForeignKeys === true" ng-model="currentField.FK" style="width: 100px">
            <option ng-repeat="key in potentialFKs">{{key.tableName}}</option>
          </select>
        </div>
        <br>
        <button "btn btn-default" ng-if="seeForeignKeys === true" ng-click="saveForeignKey(currentField.FK, currentField.fieldID); currentField.FK=undefined; currentField.fieldID=''" class="pull-right">Save Foreign Key</button>
      </div>
      <br>

    </form>

    <div style="">
      <button type="submit" data-close aria-label="Close reveal" class="button expanded mongoBtn"
        ng-click="editDone(currentTable.name, oldTable); oldTable='0'; fieldID=''; basicType='0'; size='';" style="float:right">Done</button>

      <button type="submit" class="button expanded mongoBtn pull-right"
        ng-click="deleteTable(currentTable); oldTable='0'; fieldID=''; basicType='0'; size='';">Delete Table</button>
    </div>
  </div>
</div>

<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/sql");
  editor.session.setOptions({
    tabSize: 2,
    useSoftTabs: true
  });
  $(document).foundation();
  var elem = new Foundation.DropdownMenu($('#output'));
  // var toolTip = new Foundation.Tooltip($('.has-tip'));

  $(document).ready(function() {
    $('#code_button').on('click', function () {
      var state = parseInt($('.super-wrap').css('right'), 10) > -1;
      $('.super-wrap').animate({'right':(state ? -400: 0)}, 'slow');
      $('#code_button').text((state ? '<<': '>>'));
    });
    // $(".has-tip").tooltip({
    //   content: function(event, ui) { return $(this).attr('data-id'); },
    //   position: { my: "left", at: "right" },
    //   tooltipClass: "toolTip"
    // });
  });

  $('.sqlInput').on('change', function () {
    var modal = $("#sqlEditModal");
    modal.animate({ scrollTop: modal.prop("scrollHeight") - modal.height() }, 0);
  });
</script>
